#root {
  font-family: Nunito Sans, sans-serif;
  background-color: #0f1126;
}

#intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/bg.jpg");
  object-fit: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro-link {
  text-decoration: none;
  border-radius: 5%;
}

.nav-btn {
  background-color: transparent;
  color: #e1e1e1;
  border: 1px solid #ffffff;
  opacity: 50%;
  border-radius: 100%;
}

.mepic {
  height: 30vh;
}
.icon-container {
  height: 8rem;
}

.contact-text {
  font-size: 4.5rem;
  border-bottom: solid 1px #ffffff;
}

.contact-icon {
  color: #fff;
  font-size: 4.5rem;
  padding: 2rem;
}

.projects-header {
  font-size: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card {
  margin: 0.5rem;
  width: 100%;
}

.image-wrapper {
  object-fit: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image-wrapper {
  height: 25vh;
}

.card-body,
.card-footer {
  background-color: #efefef;
}

.card:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 992px) {
  .projects-header,
  .about-header {
    font-size: 5rem;
  }
  .about-text {
    width: 50%;
    font-size: 1.5rem;
  }
  .contact-text {
    font-size: 7rem;
  }
  .contact-icon {
    font-size: 7rem;
  }
}
